@import "tailwindcss";

:root {
  --godinov-bg: #1b0f4e;
  --godinov-cyan: #00e5d4;
  --godinov-light: #f9faff;
}

:root {
  --toastify-color-success: #00e5d4;
  --toastify-color-error: #ff4646;
  --toastify-text-color-success: #1b0f4e;
}


/* Custom Tailwind utilities */
@layer utilities {
  .bg-godinov {
    background-color: var(--godinov-bg);
  }

  .text-godinov {
    color: var(--godinov-cyan);
  }

  .bg-godinov-cyan {
    background-color: var(--godinov-cyan);
  }

  .bg-godinov-light {
    background-color: var(--godinov-light);
  }

  .input-style {
    @apply w-full px-4 py-2.5 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500/20 focus:border-blue-500 outline-none text-sm transition-all;
  }

  .btn-primary {
    @apply bg-gray-900 text-white text-sm font-medium rounded-lg hover:bg-gray-800 active:transform active:scale-95 transition-all shadow-lg shadow-gray-200 disabled:opacity-70 disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply text-sm font-medium text-gray-600 hover:bg-white hover:text-gray-800 hover:shadow-sm rounded-lg transition-all border border-transparent hover:border-gray-200 disabled:opacity-50 px-5 py-2.5;
  }
}

/* Custom Scrollbar untuk Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

