@import "tailwindcss";

:root {
  --godinov-bg: #1b0f4e;
  --godinov-cyan: #00e5d4;
  --godinov-light: #f9faff;
}

:root {
  --toastify-color-success: #00e5d4;
  --toastify-color-error: #ff4646;
  --toastify-text-color-success: #1b0f4e;
}


/* Custom Tailwind utilities */
@layer utilities {
  .bg-godinov {
    background-color: var(--godinov-bg);
  }

  .text-godinov {
    color: var(--godinov-cyan);
  }

  .bg-godinov-cyan {
    background-color: var(--godinov-cyan);
  }

  .bg-godinov-light {
    background-color: var(--godinov-light);
  }
}

/* Custom Scrollbar untuk Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
